@media (max-width:1600px) {
    h1 {
        font-size: 3.5rem;
    }

    .conteudo {
       padding: 4rem 0rem 0rem 0rem ;
       gap: 60px;
    }

    .conteudo_campos_textos {
        width: 540px;
        height: 220px;
    }

    .conteudo_campos_textos p textarea {
        width: 510px;
        height: 198px;
        font-size: 1.3rem;
    }

    .conteudo_campos_botoes {
        width: 540px;
    }

    .conteudo_campos_botoes button {
        width: 240px;
        height: 40px;
        font-size: 1.3rem;
        margin-top: 3rem;
    }

    ::placeholder {
        font-size: 1.4rem;
    }

    .conteudo_direito {
        width: 540px;
    }

    .conteudo_direito_texto {
        width: 540px;
        height: 220px;
    }

    .conteudo_direito_texto p textarea {
        width: 510px;
        height: 198px;
        font-size: 1.3rem;
    }

    .conteudo_direito_botoes {
        width: 540px;
    }

    .conteudo_direito_botoes button {
        width: 240px;
        height: 40px;
        font-size: 1.3rem;
        margin-top: 3rem;
    }
}

@media (max-width:1192px) {
    h1 {
        font-size: 3.5rem;
    }

    .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .conteudo_campos {
        width: 470px;
    }

    .conteudo_campos_textos {
        width: 470px;
        height: 190px;
    }

    .conteudo_campos_textos p textarea {
        width: 440px;
        height: 168px;
        font-size: 1.2rem;
    }

    .conteudo_campos_botoes {
        width: 470px;
    }

    .conteudo_campos_botoes button {
        width: 200px;
        height: 40px;
        font-size: 1.2rem;
        margin-top: 3rem;
    }

    ::placeholder {
        font-size: 1.2rem;
    }

    .conteudo_direito {
        width: 470px;
    }

    .conteudo_direito_texto {
        width: 470px;
        height: 190px;
    }

    .conteudo_direito_texto p textarea {
        width: 440px;
        height: 168px;
        font-size: 1.2rem;
    }

    .conteudo_direito_botoes {
        width: 470px;
    }

    .conteudo_direito_botoes button {
        width: 200px;
        height: 40px;
        font-size: 1.2rem;
        margin-top: 3rem;
    }
}

@media (min-width: 1024px) and (max-width:1191px) {
    h1 {
        font-size: 3rem;
    }

    .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .conteudo_campos {
        width: 420px;
    }

    .conteudo_campos_textos {
        width: 420px;
        height: 190px;
    }

    .conteudo_campos_textos p textarea {
        width: 390px;
        height: 168px;
        font-size: 1rem;
    }

    .conteudo_campos_botoes {
        width: 420px;
    }

    .conteudo_campos_botoes button {
        width: 180px;
        height: 40px;
        font-size: 1rem;
        margin-top: 3rem;
    }

    ::placeholder {
        font-size: 1.1rem;
    }

    .conteudo_direito {
        width: 420px;
    }

    .conteudo_direito_texto {
        width: 420px;
        height: 190px;
    }

    .conteudo_direito_texto p textarea {
        width: 390px;
        height: 168px;
        font-size: 1.1rem;
    }

    .conteudo_direito_botoes {
        width: 420px;
    }

    .conteudo_direito_botoes button {
        width: 180px;
        height: 40px;
        font-size: 1rem;
        margin-top: 3rem;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    h1 {
        font-size: 3rem;
    }

    .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .conteudo_campos {
        width: 350px;
    }

    .conteudo_campos_textos {
        width: 350px;
        height: 180px;
    }

    .conteudo_campos_textos p textarea {
        width: 320px;
        height: 158px;
        font-size: 1rem;
    }

    .conteudo_campos_botoes {
        width: 350px;
    }

    .conteudo_campos_botoes button {
        width: 160px;
        height: 40px;
        font-size: 0.8rem;
        margin-top: 3rem;
    }

    ::placeholder {
        font-size: 1rem;
    }

    .conteudo_direito {
        width: 350px;
    }

    .conteudo_direito_texto {
        width: 350px;
        height: 180px;
    }

    .conteudo_direito_texto p textarea {
        width: 320px;
        height: 158px;
        font-size: 1rem;
    }

    .conteudo_direito_botoes {
        width: 350px;
    }

    .conteudo_direito_botoes button {
        width: 160px;
        height: 40px;
        font-size: 0.8rem;
        margin-top: 3rem;
    }
}

@media (min-width: 320px) and (max-width:767px) {
    h1 {
        text-align: center;
        font-size: 3rem;
        margin: 0.8rem;
        padding: 0.8rem;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteudo_campos {
        width: 300px;
    }

    .conteudo_campos_textos {
        width: 300px;
        height: 120px;
    }

    .conteudo_campos_textos p textarea {
        width: 270px;
        height: 100px;
        font-size: 1rem;
    }

    .conteudo_campos_botoes {
        width: 300px;
    }

    .conteudo_campos_botoes button {
        width: 120px;
        height: 40px;
        font-size: 0.8rem;
        margin-top: 3rem;
    }

    ::placeholder {
        font-size: 1rem;
    }

    .conteudo_direito {
        width: 300px;
    }

    .conteudo_direito_texto {
        width: 300px;
        height: 120px;
    }

    .conteudo_direito_texto p textarea {
        width: 270px;
        height: 100px;
        font-size: 1rem;
    }

    .conteudo_direito_botoes {
        width: 300px;
    }

    .conteudo_direito_botoes button {
        width: 120px;
        height: 40px;
        font-size: 0.8rem;
        margin-top: 3rem;
    }
}